@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

* {
  font-family: "Mona Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  font-size: var(--font-size-text-base);
}

:root {
  --primary: #eb1d24;
  --bg-icon: #fee2e2;
  --bg-light: #ffffff;
  --text-base: #000000;
  --text-gray: #a5a5a5;
  --card-stroke: #e5e5e5;
  --horizontal-padding: 30px;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-size-text-sm: 14px;
  --font-size-text-base: 16px;
  --font-size-text-lg: 18px;
  --font-size-text-xl: 20px;
  --font-size-text-2xl: 24px;
  --font-size-text-3xl: 30px;
  --font-size-text-4xl: 36px;
  --font-size-text-5xl: 48px;
  --font-size-text-6xl: 60px;
}

body {
  background-color: var(--bg-light);
}

header {
  padding: 1rem var(--horizontal-padding);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--card-stroke);
}

header .left {
  display: flex;
  gap: 2rem;
  align-items: center;

  & .logo p {
    color: var(--primary);
    font-size: var(--font-size-text-2xl);
    font-weight: var(--font-bold);
    cursor: pointer;
  }
}

header nav {
  display: flex;
  font-weight: var(--font-medium);
  font-size: var(--font-size-text-xl);
  color: var(--text-base);
  gap: 1rem;
}

header nav a {
  color: var(--text-base);
  font-weight: var(--font-medium);
  cursor: pointer;
}

header nav a:hover {
  color: var(--primary);
  font-weight: var(--font-medium);
  cursor: pointer;
}

header .right {
  display: flex;
  gap: 1rem;
  align-items: center;

  & button {
    padding: 1rem var(--horizontal-padding);
    border-radius: 0.5rem;
    background-color: var(--bg-light);
    color: var(--primary);
    font-weight: var(--font-medium);
    border: 1px solid var(--primary);

    & p {
      font-weight: var(--font-medium);
    }
  }

  & button:hover {
    background-color: var(--primary);
    color: var(--bg-light);
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
}
